<footer>
    <div class="container">
      <div class="footer-content">
        <div class="important-links">
          <div class="logo">
            <img src="/assets/images/logomark.png" />
          </div>
          <ul>
            <li>Download Now</li>
            <li>License</li>
          </ul>
          <ul>
            <li>About</li>
            <li>Features</li>
            <li>Pricing</li>
            <li>News</li>
            <li>Help</li>
            <li>Contact</li>
          </ul>
          <span class="copyright"
            >© 2021 Landify UI Kit. All rights reserved</span
          >
        </div>
        <div class="contact">
          <div class="logo">
            <img src="/assets/images/logomark.png" />
          </div>
          <ul>
            <li>Contáctanos</li>
          </ul>
          <ul>
            <li>Whatsapps</li>
            <li>978 566 567</li>
            <li>967 567 565</li>
          </ul>
          <span class="copyright"
            >© 2021 Landify UI Kit. All rights reserved</span
          >
        </div>
        <div class="download-badges">
          <span>Get the App</span>
          <img src="/assets/images/store-badge-1.png" alt="App Store" />
          <img src="/assets/images/store-badge-2.png" alt="Play Store" />
        </div>
      </div>
    </div>
  </footer>