<ui-nav></ui-nav>

<ui-hero></ui-hero>

<section class="features">
  <div class="container">
    <div class="features-content">
      <div class="heading">
        <h2 class="title">Tailor-made features</h2>
        <p class="description">
          Lorem ipsum is common placeholder text used to demonstrate the graphic
          elements of a document or visual presentation.
        </p>
      </div>
      <div class="table">
        <div class="item">
          <div class="base-feature">
            <img src="./assets/icons/robust-workflow.png" />
          </div>
          <div class="content">
            <h3 class="headline">Robust Workflow</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, <br />
              consectetur adipiscing elit. Sed erat <br />
              nibh tristique ipsum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="base-feature">
            <img src="./assets/icons/flexibility.png" />
          </div>
          <div class="content">
            <h3 class="headline">Flexibility</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, <br />
              consectetur adipiscing elit. Sed erat <br />
              nibh tristique ipsum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="base-feature">
            <img src="./assets/icons/user-friendly.png" />
          </div>
          <div class="content">
            <h3 class="headline">User Friendly</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, <br />
              consectetur adipiscing elit. Sed erat <br />
              nibh tristique ipsum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="base-feature">
            <img src="./assets/icons/multiple-layouts.png" />
          </div>
          <div class="content">
            <h3 class="headline">Multiple Layouts</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, <br />
              consectetur adipiscing elit. Sed erat <br />
              nibh tristique ipsum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="base-feature">
            <img src="./assets/icons/better-components.png" />
          </div>
          <div class="content">
            <h3 class="headline">Better Components</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, <br />
              consectetur adipiscing elit. Sed erat <br />
              nibh tristique ipsum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="base-feature">
            <img src="./assets/icons/well-organised.png" />
          </div>
          <div class="content">
            <h3 class="headline">Well Organised</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, <br />
              consectetur adipiscing elit. Sed erat <br />
              nibh tristique ipsum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="metrics">
  <div class="container">
    <div class="metrics-content">
      <div class="heading">
        <h2 class="title">Our 18 years of achievements</h2>
        <p class="description">With our super powers we have reached this</p>
      </div>
      <div class="content">
        <div class="item">
          <div class="icon">
            <img src="./assets/icons/robust-workflow.png" />
          </div>
          <div class="detail">
            <h3 class="number">10,000+</h3>
            <label>Downloads per day</label>
          </div>
        </div>
        <div class="item">
          <div class="icon">
            <img src="./assets/icons/multiple-layouts.png" />
          </div>
          <div class="detail">
            <h3 class="number">2 Million</h3>
            <label>Users</label>
          </div>
        </div>
        <div class="item">
          <div class="icon">
            <img src="./assets/icons/better-components.png" />
          </div>
          <div class="detail">
            <h3 class="number">500+</h3>
            <label>Clients</label>
          </div>
        </div>
        <div class="item">
          <div class="icon">
            <img src="./assets/icons/better-components.png" />
          </div>
          <div class="detail">
            <h3 class="number">140</h3>
            <label>Countries</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ui-footer></ui-footer>
