<nav class="nav w-100">
    <div class="links-logo">
        <a id="logo" href="/">
            <img src="/assets/images/logo.png" alt="Landify logo">
        </a>
        <ul>
            <li>Features</li>
            <li>Pricing</li>
            <li>Careers</li>
            <li>Ayuda</li>
        </ul>
    </div>
    <div class="actions">
        <ui-button content="Iniciar Sesión" color="primary"></ui-button>
        <ui-button content="Regístrate"></ui-button>
    </div>
    <mat-icon>menu</mat-icon>
</nav>
